.popup__big-img-container{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 1fr max-content 1fr;
    grid-template-areas:
        ". . close-btn"
        ". image ."
        ". figcaption .";
    gap: 8px;
    z-index: 15;
}

@media screen and (max-width: 650px){
    .popup__big-img-container{
       grid-template-columns: max-content;
       grid-template-rows: 20px max-content 20px;
       gap: 16px;
       grid-template-areas:
          "close-btn"
          "image"
          "figcaption";
    }
}