.gallery {
    background: bisque;
    padding-top: 50px;
    /* max-width: 100%; */
    /* display: none; */
}

/* @media screen and (max-width: 970px) {
    .gallery {
        max-width: calc(95% - 50px);
    }
}

@media screen and (max-width: 395px) {
    .gallery {
        margin: 0 minmax(19px, auto) 0;
    }
} */