.popup__container{
    display: grid;
    grid-template-columns: 32px 430px 32px;
    grid-template-rows: 32px 330px;
    grid-template-areas:
        ". . close-btn"
        ". edit-form .";
    gap: 8px;
    z-index: 1;
}

@media screen and (max-width: 880px){
     .popup__container{
        grid-template-columns: 282px;
        grid-template-rows: 20px 322px;
        gap: 16px;
        grid-template-areas:
           "close-btn"
           "edit-form";
     }
}