.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 0;
}

@media screen and (max-width: 940px) {
    .profile{
        padding: 40px 19px 0;
    }
}

@media screen and (max-width: 870px) {
    .profile{
        display: flex;
        flex-direction: column;
        background: blue;
    }
}