.gallery__list {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    padding: 0;
    justify-content: space-between;
    gap: 20px 17px;
    margin: 0;
    /* min-width: 282px; */
    justify-items: center;
}

@media screen and (max-width: 670px) {
    .gallery__list {
        padding: 0 19px;
    }
}

@media screen and (max-width: 400px) {
    .gallery__list {
        padding: 0;
    }
}