.popup__form{
    width: auto;
    height: calc(100% - 70px);
    padding: 34px 36px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}

@media screen and (max-width: 880px){
    .popup__form{
        padding: 25px 22px;
        height: calc(100% - 50px);
    }
}