.profile__avatar-container {
  position: relative;
  margin: 0;
  padding: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-sizing: border-box;
  transition: opacity 0.8s ease-in-out;
}

.profile__avatar-container:hover .profile__avatar {
  opacity: 0.25;
}
