.profile__avatar {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: center;
  background-size: 120px 120px;
  object-fit: cover;
  object-position: 50% 50%;
  transition: opacity 0.8s ease-in-out;
}
