.profile__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
    color: #fff;
    grid-area: description;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 939px) {
    .profile__description {
        font-size: calc(100vw * 18 / 880 * 1.5);
        line-height: calc(100vw * 22 / 880 * 1.5);
    }
}

@media screen and (max-width: 870px) {
    .profile__description {
        text-align: center;
    }
}

@media screen and (max-width: 680px){
    .profile__description{
        font-size: calc(100vw * 14 / 320 * 1.2);
        line-height: calc(100vw * 17 / 320 * 1.2);  
    }
}

@media screen and (max-width: 320px) {
    .profile__description {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
    }
}