.profile__info{
    margin-left: 30px;
    display: grid;
    grid-column-gap: 18px;
    grid-row-gap: 12px;
    grid-template:
        "name button"
        "description description"/ 
        auto 24px;
    max-width: 500px;
    align-content: center;
    justify-content: start;
    align-items: baseline;
}