.popup__figcaption{
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    max-width: max-content;
    position: absolute;
}