.popup__close-btn{
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    padding: 0;
    background-image: url(./../../../images/close-icon.svg);
    background-position: center center;
    background-size: contain;
    position: absolute;
    right: -40px;
    top: -40px;
}

@media screen and (max-width: 880px){
    .popup__close-btn{
       width: 20px;
       height: 20px;
       top: -36px;
       right: 0;
    }
}